{% extends 'phyto_backend/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'phyto_backend/auth.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

<form method="post" style="height: 430px;">
    <div class="formcontainer">
        <center><h2>Вход в систему</h2></center>
        <hr/>
      <div class="container">
          {% csrf_token %}
          {{ form.as_p }}
      </div>
        <button type="submit" name="Login">Войти</button><p></p>
        <center><a href="/signup">Попробовать бесплатно</a></center>
    </div>
</form>
{% endblock %}
